//------------------------------------------------------------------------
// Frontline CSS Reset
//
// @link http://meyerweb.com/eric/tools/css/reset/
// @link https://github.com/necolas/normalize.css
// @link https://github.com/10up/sanitize.css
// @link http://yuilibrary.com/yui/docs/cssreset/
// @link http://meiert.com/en/blog/20070922/user-agent-style-sheets/
// @link http://css-class.com/test/css/defaults/UA-style-sheet-defaults.htm
// @link https://www.joshwcomeau.com/css/custom-css-reset/
// @link https://piccalil.li/blog/a-modern-css-reset/
//
// User agent stylesheets
// @link https://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
// @link https://dxr.mozilla.org/mozilla-central/source/layout/style/res/html.css
// @link https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/html.css
//------------------------------------------------------------------------
@charset "UTF-8";

//------------------------------------------------------------------------
// Universal styles
//------------------------------------------------------------------------
* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// Set "box-sizing: border-box" globally
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: inherit;
}

// 1. Set "box-sizing: border-box" globally
//    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//
// 2. Prevent adjustments of font size after orientation changes in iOS
html {
  box-sizing: border-box;// [1]
  -ms-overflow-style: -ms-autohiding-scrollbar;// Edge 12+, Internet Explorer 11-
  overflow-y: scroll;// All browsers without overlaying scrollbars
  -webkit-text-size-adjust: 100%;// [2]
}

//------------------------------------------------------------------------
// HTML5 elements
//------------------------------------------------------------------------
// Add the correct display in IE 9
article,
aside,
details, // Edge, IE, and Firefox
figcaption,
figure,
footer,
header,
main, // IE
menu,
nav,
section,
summary { // Edge, IE, and Firefox
  display: block;
}

summary {
  display: list-item;
}

// Add the correct display in IE 9-
audio,
canvas,
progress,
video {
  display: inline-block;
}

// Add the correct display in iOS 4-7
audio:not([controls]) {
  display: none;
  height: 0;
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera
progress {
  vertical-align: baseline;
}

template, // IE 10-
[hidden] {
  display: none;
}

[aria-busy="true"] {
  cursor: progress;
}

//------------------------------------------------------------------------
// Element styles
//------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

// Disable double-tap-to-zoom on certain elements to remove the 300ms delay in IE
// https://github.com/ftlabs/fastclick#when-it-isnt-needed
// https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;// IE 10
  touch-action: manipulation;// IE 11+
}

// Fluid media
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

// Use transparent “::marker” instead of setting “list-style: none;”
// which causes VO in Safari to drop the list semantics.
// https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
::marker {
  color: transparent;
}

// Remove most spacing between table cells.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 1. Ensure 3rd-party iframe embeds do not overlap sticky headers, nav dropdowns, modals, or other similar elements
iframe,
object,
embed {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 1;// [1]
}

// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: bolder;
}

// Add the correct font size in all browsers
small {
  font-size: 80%;
}

// Prevent <sub> and <sup> from affecting the line height in all browsers
sub,
sup {
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Contain overflow in IE 11-
pre {
  overflow: auto;
}

// 1. Correct inheritance and scaling of font-size for preformatted text.
// 2. Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;// [1]
  font-size: 1em;// [2]
}

// Remove cite blockquote border
blockquote[type="cite"] {
  border: 0;
}

// Don’t italicize these elements by default
address,
cite,
dfn,
var {
  font-style: normal;
}

// 1. Remove the bottom border in Chrome 57-
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
abbr[title] {
  border-bottom: 0;// [1]
  text-decoration: underline;// [2]
  text-decoration: underline dotted;// [2]
}

// Remove underline so as not to be confused with a link
ins {
  text-decoration: none;
}

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
//
// Usage notes:
// http://html5doctor.com/small-hr-element/#element-hr
hr {
  box-sizing: content-box;// [1]
  height: 0;// [1]
  overflow: visible;// [2]
}

//------------------------------------------------------------------------
// Links
//------------------------------------------------------------------------
// Remove the gray background color from active links in IE 10
a {
  background-color: transparent;

  // Prevent long mailto links from breaking layouts
  // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  &[href^="mailto"] {
    word-break: break-all;
    word-break: break-word;// Non-standard value for WebKit
  }

  // Override iOS phone number link styling
  &[href^="tel"] {
    color: inherit;
    text-decoration: none;
  }
}

// Ensure SVGs don’t steal click event
// https://css-tricks.com/links-inline-svg-staying-target-events/
a,
button {
  & > svg {
    pointer-events: none;
  }
}

//------------------------------------------------------------------------
// Form styles
//------------------------------------------------------------------------

// Change font properties to “inherit” in all browsers
button,
input,
select,
textarea {
  font: inherit;
}

// Restore the font weight unset by the previous rule
optgroup {
  font-weight: bold;
}

// Remove the inheritance of text transform
button, // Edge, Firefox, and IE
select { // Firefox
  text-transform: none;
}

// Show the overflow
button, // IE
input, // Edge
select { // Edge, Firefox, and IE
  overflow: visible;
}

// Normalize select value color in Edge 12+, Internet Explorer 11-
select::-ms-value {
  color: currentColor;
}

// Don"t inherit “font-weight”
// NOTE: The default can’t be changed in Chrome and Safari on OS X
optgroup {
  font-weight: bold;
}

fieldset {
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE
// 2. Correct the color inheritance from <fieldset> elements in IE
legend {
  border: 0;
  box-sizing: border-box;// [1]
  color: inherit;// [2]
  display: table;// [1]
  max-width: 100%;// [1]
  padding: 0;
  white-space: normal;// [1]
}

// 1. Remove the default vertical scrollbar in IE 10+
textarea {
  border-radius: 0;// iOS
  display: block;
  overflow: auto;// [1]
  width: 100%;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// Change the cursor for better usability
button,
label,
select,
[type="button"],
[type="checkbox"],
[type="radio"],
[type="reset"],
[type="submit"],
[aria-controls] {
  cursor: pointer;
}

[readonly] {
  cursor: text;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

// Remove inner padding in Firefox 4+.
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// Remove WebKit styling from text inputs
// https://css-tricks.com/almanac/properties/a/appearance/
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"] {
  border-radius: 0;// iOS
  -webkit-appearance: none;
}

// 1. Add the correct box sizing in IE 10-
// 2. Remove the padding in IE 10-
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;// [1]
  padding: 0;// [2]
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}// end number

[type="search"] {
  border-radius: 0;// WebKit, iOS

  // Remove the inner padding in Chrome and Safari on macOS.
  // Additional resets from http://priyanksharma.com/code-snippets/resetting-html5-search-input-in-webkit/
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}// end search

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button;// [1]
  font: inherit;// [2]
}

// Normalize placeholder text color in Firefox
// https://css-tricks.com/almanac/selectors/p/placeholder/#firefox-placeholder-color
::-moz-placeholder {
  opacity: 1;
}
