//------------------------------------------------------------------------
// Frontline CSS Reset
//
// @link http://meyerweb.com/eric/tools/css/reset/
// @link https://github.com/necolas/normalize.css
// @link https://github.com/10up/sanitize.css
// @link http://yuilibrary.com/yui/docs/cssreset/
// @link http://meiert.com/en/blog/20070922/user-agent-style-sheets/
// @link http://css-class.com/test/css/defaults/UA-style-sheet-defaults.htm
//------------------------------------------------------------------------
@charset 'UTF-8';

//------------------------------------------------------------------------
// Universal styles
//------------------------------------------------------------------------
* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// Set "box-sizing: border-box" globally
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: inherit;
}

// 1. Set 'box-sizing: border-box' globally
//    http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//
// 2. Prevent iOS and IE text size adjust after device orientation change,
//    without disabling user zoom.
html {
  box-sizing: border-box;// [1]
  -ms-overflow-style: -ms-autohiding-scrollbar;// Edge 12+, Internet Explorer 11-
  overflow-y: scroll;// All browsers without overlaying scrollbars
  -webkit-text-size-adjust: 100%;// [2]
  -ms-text-size-adjust: 100%;// [2]
}

//------------------------------------------------------------------------
// HTML5 elements
//------------------------------------------------------------------------
// Add the correct display in IE 9-.
// 1. Add the correct display in Edge, IE, and Firefox.
// 2. Add the correct display in IE.
article,
aside,
details, // [1]
figcaption,
figure,
footer,
header,
main, // [2]
menu,
nav,
section,
summary { // [1]
  display: block;
}

// Add the correct display in IE 9-.
audio,
canvas,
progress,
video {
  display: inline-block;
}

// Add the correct display in iOS 4-7.
audio:not([controls]) {
  display: none;
  height: 0;
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
  vertical-align: baseline;
}

// Add the correct display in IE 10-.
// 1. Add the correct display in IE.
template, // [1]
[hidden] {
  display: none;
}

[aria-busy='true'] {
  cursor: progress;
}

//------------------------------------------------------------------------
// Element styles
//------------------------------------------------------------------------

// Disable double-tap-to-zoom on certain elements to remove the 300ms delay in IE
// https://github.com/ftlabs/fastclick#when-it-isnt-needed
// https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;// IE 10
  touch-action: manipulation;// IE 11+
}

// Fluid images
// http://www.456bereastreet.com/archive/201306/how_to_proportionally_scale_images_that_have_dimension_attributes/
img {
  border: 0;// Remove border when inside `a` element in IE 8/9/10.
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

// Remove most spacing between table cells.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 1. Ensure 3rd-party iframe embeds do not overlap sticky headers, nav dropdowns, modals, or other similar elements
iframe,
object,
embed {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 1;// [1]
}

// Prevent the duplicate application of `bolder` by the next rule in Safari 6.
b,
strong {
  font-weight: inherit;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: bolder;
}

// Add the correct font size in all browsers.
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` from affecting the line height in all browsers.
sub,
sup {
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Contain overflow in all browsers.
pre {
  overflow: auto;// Internet Explorer 11-
}

// 1. Correct inheritance and scaling of font-size for preformatted text.
// 2. Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;// [1]
  font-size: 1em;// [2]
}

// Remove cite blockquote border
blockquote[type=cite] {
  border: 0;
}

// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
abbr[title] {
  border-bottom: 0;// [1]
  cursor: help;
  text-decoration: underline;// [2]
  text-decoration: underline dotted;// [2]
}

// Address styling not present in IE 8/9.
mark {
  background-color: #ff0;
  color: inherit;
}

// Remove underline so as not to be confused with a link
ins {
  text-decoration: none;
}

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
//
// Usage notes:
// http://html5doctor.com/small-hr-element/#element-hr
hr {
  box-sizing: content-box;// [1]
  height: 0;// [1]
  overflow: visible;// [2]
}

// Hide the overflow in IE
svg:not(:root) {
  overflow: hidden;
}

//------------------------------------------------------------------------
// Links
//------------------------------------------------------------------------
// Remove the gray background color from active links in IE 10.
a {
  background-color: transparent;

  // Improve readability of focused elements when they are also in an active/hover state.
  &:active,
  &:hover {
    outline: 0;
  }

  // Prevent long mailto links from breaking layouts
  // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  &[href^='mailto'] {
    word-break: break-all;
    word-break: break-word;// Non standard for webkit
  }

  // Override iOS phone number link styling
  &[href^=tel] {
    color: inherit;
    text-decoration: none;
  }
}

// Ensure SVGs don't steal click event
// https://css-tricks.com/links-inline-svg-staying-target-events/
a,
button {
  & > svg {
    pointer-events: none;
  }
}

//------------------------------------------------------------------------
// Form styles
//------------------------------------------------------------------------

// Change font properties to `inherit` in all browsers.
button,
input,
select,
textarea {
  font: inherit;
}

// Restore the font weight unset by the previous rule.
optgroup {
  font-weight: bold;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
// 1. Remove the inheritance of text transform in Firefox.
button,
select {// [1]
  text-transform: none;
}

// Show the overflow in IE.
// 1. Show the overflow in Edge.
// 2. Show the overflow in Edge, Firefox, and IE.
button,
input, // [1]
select {// [2]
  overflow: visible;
}

// Normalize select value color in Edge 12+, Internet Explorer 11-
select::-ms-value {
  color: currentColor;
}

// Don't inherit `font-weight`
// NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
optgroup {
  font-weight: bold;
}

fieldset {
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Remove the padding so developers are not caught out when they zero out
//    `fieldset` elements in all browsers.
legend {
  border: 0;
  box-sizing: border-box;// [1]
  color: inherit;// [2]
  display: table;// [1]
  max-width: 100%;// [1]
  padding: 0;// [3]
  white-space: normal;// [1]
}

// 1. Remove the default vertical scrollbar in IE.
textarea {
  display: block;
  overflow: auto;// 1
  width: 100%;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4.
// 2. Correct the inability to style clickable types in iOS.
button,
html input[type='button'], // 1
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button; // 2
}

// Change the cursor in all browsers for better usability
button,
label,
select,
[type='button'],
[type='checkbox'],
[type='radio'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

[readonly] {
  cursor: text;
}

// Restore the default cursor to disabled elements unset by the previous rule.
[disabled],
[aria-disabled] {
  cursor: default;// fallback
  cursor: not-allowed;
}

// Remove inner padding in Firefox 4+.
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// Remove webkit styling from text inputs
// https://css-tricks.com/almanac/properties/a/appearance/
[type='email'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'] {
  -webkit-appearance: none;
}

// 1. Add the correct box sizing in IE 10-.
// 2. Remove the padding in IE 10-.
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;// [1]
  padding: 0;// [2]
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}// end number

[type='search'] {
  // Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
  // Additional resets from http://priyanksharma.com/code-snippets/resetting-html5-search-input-in-webkit/
  // &::-webkit-search-results-button,
  // &::-webkit-search-results-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}// end search

// Normalize placeholder text color in Firefox
// https://css-tricks.com/almanac/selectors/p/placeholder/#firefox-placeholder-color
::-moz-placeholder {
  opacity: 1;
}
